body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
    background-color:lightcoral ;
    color:rgb(255, 255, 255) 
}

h1{background-color:rgb(105, 7, 7) ;
color:rgb(255, 255)
}

h2{background-color:rgb(7, 105, 69) ;
    color:rgb(253, 256)

}   

div}
max-width: 600px;
{